h1{
    color: brown;
    text-align: center;
    background-color: #b700ff;
    line-height:100px;
    text-shadow: 12px 4px 12px green;
    font-size: 80px;
}
h1:hover{
    background-color: lightblue;
}